{% load i18n %}{% autoescape off %}
{% trans "Bonjour" %},

{% trans "Vous avez demandé la réinitialisation de votre mot de passe sur" %} {{ site_name }}.

{% trans "Cliquez sur le lien suivant pour définir un nouveau mot de passe" %}:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans "Si vous n'avez pas fait cette demande, ignorez simplement cet email." %}

{% trans "Ce lien expirera dans 24 heures." %}

{% trans "Cordialement" %},
{% trans "L'équipe" %} {{ site_name }}
{% endautoescape %}
